<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@Page.Title</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" /> <!--this is arabic bootstrap support arabic views-->
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/GoTopBtn.css" rel="stylesheet" />
    </head>
    <body>


        
        <div class="fixed-menu">
            <i class="fa fa-gear"></i>
            <h3 style="text-align:center">Contact Us</h3>
            <hr />
            <ul>
                <li> <a href="#" target="_blank"> صفحتنا على الفيسبوك  <i class="fa fa-facebook"></i></a></li>
                <li> <a href="#" target="_blank"> تابعنا على تويتر <i class="fa fa-twitter"></i></a></li>
                <li> <a href="#" target="_blank"> شاهدنا على اليوتيوب  <i class="fa fa-youtube"></i></a></li>
            </ul>
          
        </div>

        <!--Start Nav bar-->
        <nav class="navbar navbar-default" >
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home" class="navbar-brand">
                       
                        <img src="~/images/Untitled1.png" class="logo-size" />
                        
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Home">
                                <i class="glyphicon glyphicon-home"></i>
                                الرئيسية
                            </a>
                        </li>

                       

                        <li>
                            <a href="~/Home/About">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                عن الموقع
                            </a>
                        </li>

                        <li>
                            <a href="~/Home/Contact">
                                <i class="glyphicon glyphicon-envelope"></i>
                                إتصل بنا
                            </a>
                        </li>

                        <li>
                            @using (Html.BeginForm("Search", "Home",FormMethod.Post))
                            {
                                <input type="search" name="searchName" id="searchName" placeholder="إبحث هنا ..." />

                            }
                        </li>
                    </ul>

                    <!-- partial login-->
                     @Html.Partial("_Login")

                </div>
            </div>

        </nav>

        <!--End Nav bar-->



        <div class="container" style="min-height:550px;">
            <div class="row" >

                @RenderBody()


            </div>
        </div>





        <!--Start Foorter-->
        @*<footer class="navbar navbar-fixed-bottom myfooter">*@
            <footer class="navbar myfooter" style="margin-bottom:0px">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <h3>
                                <i class="glyphicon glyphicon-question-sign"></i>

                                من نحن؟
                            </h3>
                            <p>
                                السلام عليكم ورحمة الله وبركاته، تسعدنا زيارتكم لنا على المدونة الشخصية لخالد السعداني حيث يتم بث مختلف مواده المكتوبة والمرئية المتعلقة بعالم البرمجة.
</div>

                        <div class="col-md-4">
                            <h3>
                                <i class="glyphicon glyphicon-globe"></i>
                                روابط هامه
                            </h3>
                            <ul>
                                <li> <a href="#">وظائف للقطاع العام</a></li>
                                <li> <a href="#">وظائف للقطاع الخاص</a></li>
                                <li> <a href="#">وظائف خارج البلاد</a></li>
                                <li> <a href="#">وظائف متنوعه</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h3>
                                <i class="glyphicon glyphicon-envelope"></i>
                                تواصل معنا
                            </h3>
                            <ul>
                                <li> <a href="#" target="_blank"> صفحتنا على الفيسبوك  <i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#" target="_blank"> تابعنا على تويتر <i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#" target="_blank"> شاهدنا على اليوتيوب  <i class="fa fa-youtube"></i></a></li>
                                <li> <a href="~/Home/Contact">اترك لنا رساله</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="subfooter">
                    <span>
                        جميع الحقوق محفوظة لموقع التوظيف - 2017
                    </span>
                </div>

            </footer>

        <!--End Foorter-->


        <!-- Start Back Top -->
        <div id="back-top">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End Back Top -->

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/GoTopBtn.js"></script>
        <script src="~/Scripts/carousal.js"></script>
        @RenderSection("scripts", required: false
)
    </body>
</html>

